@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --accent: #00a4a6;
}

body {
  background-color: var(--background);
  color: #ededed;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Luxury Grain Effect */
.bg-grain {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #030303; }
::-webkit-scrollbar-thumb { background: #1a1a1a; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--accent); }